@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --main-bg-color: rgb(112, 137, 164);
    --secondary-bg-color: #fff;
    --beige-color: rgb(217, 185, 162);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
}

section {
    width: 100%;
    min-height: 65vh;
    padding: 9rem 0;
}

/* ===== Navegador ===== */
nav {
    width: 100%;

    background-color: var(--secondary-bg-color);
}

nav ul {
    width: 60%;
    padding: 30px;
    margin-inline: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    font-weight: 600;
    font-size: 1.1em;
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-bg-color);
    background:
    linear-gradient(to right,rgba(100, 200, 200, 1), var(--main-bg-color)),
    linear-gradient(to right,rgba(255, 0, 0, 1),rgba(255, 0, 180, 1),rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

svg {
    padding: 0;
    background-color: var(--secondary-bg-color);
}
nav ul li a:hover {
  background-size: 0 3px, 100% 3px;
}

/* ===== brand ===== */
#brand{
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#brand > div {
    width: 50%;
}

.lBrand h1, #icons-brand {
    margin-left: 5rem;
}

.lBrand {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.35;
    color: var(--main-bg-color);
}

#name-Brand {
    display: inline-block;
    font-size: 3.5rem;
    background-color: var(--main-bg-color);
    color: var(--secondary-bg-color);
    padding: 0 10px;
    box-shadow: 6px 6px rgb(154 187 224);
}


#icons-brand {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#icons-brand a {
    width: 20%;
}

#icons-brand a img {
    width: 70%;
    height: auto;
    transition: all .1s ease-in; 
}

#icons-brand img:hover {
    opacity: .8;
}


.rBrand img {
    max-width: 90%;
    margin-inline: auto;
}

/* ===== about ===== */
#about {
    background-color: var(--main-bg-color);
}

#about  h2{
    padding: 10px;
    color: var(--main-bg-color);
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 1.5em;
    font-size: 2.8em;
    text-transform: uppercase;
    box-shadow: 7px 7px 1px var(--secondary-bg-color);
    background-color: var(--secondary-bg-color);
}

#about p {
    margin-inline: auto;
    color: var(--secondary-bg-color);
    font-weight: 500;
    width: 50%;
    text-align: justify;
    text-justify: auto;
    font-size: 2em;
}

#about > div {
    width: 100%;
    background-color: var(--main-bg-color);
}

/* ===== Skills ===== */
#skills {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
}

#skills > h2 {
    display: inline;
    width: max-content;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secondary-bg-color);
    margin-left: 7rem;
    padding: .9rem;
    text-transform: uppercase;
    background-color: var(--main-bg-color);
    box-shadow: 10px 6px rgb(154 187 224);
}

#skills-container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
}

#skills-container img {
    width: 10rem;
    height: 10rem;
}

.container-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.items-grid {
    display: grid;
    grid: 1fr / auto auto;
    grid-gap: 1rem;
    box-shadow: 1px 1px 5px #555;
}

/* ===== Contact ===== */
#contact {

}

/* ===== Footer ===== */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 7rem 0;
    background-color: #333;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--main-bg-color);
}

footer img {
    width: 2.4rem;
    height: 2.4rem;
    margin-inline: .6rem;
}
